node_modules/
.turbo/
coverage/
pnpm-debug.log*

.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

packages/shared/dist/
packages/shared/*.tsbuildinfo
packages/*/dist/
packages/*/*.tsbuildinfo
