@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@import '@gitiempo/web-config/styles/tokens.css';

@source "../../../../packages/web-shared/src";

:root {
  font-family: 'Inter', sans-serif;
  color: var(--color-text-dark);
  background: var(--color-app-bg);
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
}
