@import "tailwindcss";
@import "@gitiempo/web-config/styles/tokens.css";

@source "../**/*.ts";

:root {
  font-family: "Inter", sans-serif;
  color: var(--color-text-dark);
  background: var(--color-surface-primary);
}

html,
body {
  margin: 0;
}

body {
  width: 320px;
  min-height: 480px;
}
