VITE_EXTENSION_API_BASE_URL=http://localhost:3000
VITE_EXTENSION_FIREBASE_API_KEY=
VITE_EXTENSION_FIREBASE_AUTH_DOMAIN=
VITE_EXTENSION_FIREBASE_PROJECT_ID=
VITE_EXTENSION_USER_SPA_URL=http://localhost:5173/login
EXTENSION_GOOGLE_CLIENT_ID=
